* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* vw -> srollbar , % no scrollbar*/

body {
    /* width: 100%; */
    min-height: 100vh;
}


/* header {
    width: 80%;
} */

h1 {
    border: 2px dashed red;
    width: 50%;
    font-size: 3rem;
    padding: 0.5em;
}

main {
    font-size: 2rem;
    /* background-color: skyblue; */
    /* width: 50vw; */
}

/* rem: looks for the root, em: looks for the parents size */

p {
    font-size: 2rem;
    width: 40ch;
}