body {
    padding: 10%;
    font-size: 2rem;
    /* color: purple; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Roboto', sans-serif;
}

/* input, button {
    font: inherit;
} */

p {
    line-height: 1.5;
    word-spacing: 0.1em;
    font-family: Poppins, sans-serif;
}












